.container {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
}
.default {
  background-color: rgba(0, 0, 0, 0.7);
}
.dark {
  background-color: rgba(0, 0, 0, 0.9);
}
.darkLight {
  background-color: var(--zd_bg_dark16);
}
.plain {
  background-color: transparent;
}
.snow {
  background-color: rgba(30, 38, 51, 0.4);
}
.index3 {
  z-index: 3;
}
.index5 {
  z-index: 5;
}
.index7 {
  z-index: 7;
}
.index10 {
  z-index: 10;
}
.delay {
  transition-delay: 0.2s;
}
